<h1>The URL Shortner Form</h1>
<br>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Generate Short URL"/>
</form>

<br>
<h4>Your Long URL is: {{ Lurl }}</h4>
<br>
<br>
<h2>The Short URL Generated is: {{ Surl }}</h2>